<div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
             <span class="subtitle">Newsletters</span> <br />
             Découvrez nos nouveaux produits en exclusivité.
          </label>
        </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
        <input type="checkbox">
        <span class="subtitle"> E-mails de rappel</span> <br />
        Tenez-vous au courant de ce que vous avez manqué.
        </label>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button class="button is-primary">Submit</button>
    </div>
</div>                       